/* @theme sdr */

@import "jobs";

:root em {
  background-color: rgba(0,0,0,0);
  color: rgb(29,107,209);
  /* font-style: italic; */
  font-weight: 500;
  font-size: 1em;
  /* font-family: inherit; */
}

:root blockquote {
  border-top: none;
  margin-top: 0.2em;
  background-color: rgb(29, 107, 209, 0.05);
  border-radius: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

blockquote {
  font-size: 0.8em;
}

blockquote .exemple {
  font-size: larger;
}

blockquote strong {
  color: inherit;
}

section.transition3 {
  background-color: white;
  
  font-size: 1.0em;

  p {
    color: rgb(29,107,209);
  }
}

section.transition2 {
  background-color: white;

  p {
    color: rgb(8, 74, 100)
  }
}

/* -------------------- TRANSITION 2---------------------------------*/

section.transition {

  background-color: rgb(8, 74, 100);


  font-weight: bold;

  /* font-family: serif, sans-serif, "Libre Baskerville", serif;
  font-family: 'Open Sans';
  font-family: 'Segoe UI'; */
  
  font-family: 'San Francisco bold' !important;

  font-size: 200%;
  /* text-shadow: 4px 4px 0 rgb(77, 61, 61); */
}

.ref {
  font-size: 0.5em;
}

.math {
  font-size: 0.9em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

small {
  font-size: 0.8em;
  color: #999;
}